body{
    background-color: blanchedalmond;
    color: darkgoldenrod
}

div{
    text-align: center;
}

h1{
    font-size: 45px;
}
h2{
    font-size: 38px;
}
p{
    font-size: 30px;
}

img{
    height: 500px;
    width: 500px;
}